$white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$text-color: $medium-gray;
$black: hsl(0, 0%, 8%);
$text-size: 18px;
$main-bg: hsl(0, 0%, 95%);
$family: 'Epilogue', sans-serif;

//breakpoint

$mobile: '(max-width: 767px)';